<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.ac.gla.idi.beaconexample">

    <!-- required for Bluetooth communication -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!-- required to change Bluetooth settings and perform device discovery -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- also required for scanning on newer versions of Android (>=6.0/M) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- indicates that the app is intended for BLE-capable devices only -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>